/* 重置所有margin及padding */
*
{
	padding: 0;
	margin: 0;
}
/* 網頁內容最外層包裝, 主要是用margin來做左右置中 */
#wrapper
{
	width: 980px;
	margin: 0 auto;
}
/* 以下是做佈局的設定 */
/* =======標題顯示區======== */
#header
{
	height: 120px;
	background-color: #4CAF50; /* Green */
	padding: 1px 1px;
	margin: 1px;
	float: left;
}
/* =======左側選單顯示區======== */
.leftSideBar
{
	width: 150px;
	float: left;
	padding-left: 2px;
	background-color: white;
}
/* =======左側選單顯示區======== */
.righttSideBar
{
	width: 150px;
	float: left;
	padding-left: 2px;
	background-color: white;
}
/* =======主體顯示區======== */
#container
{
	width: 1400px;
	float: left;
	color: #FFF;
	background-color: white;
	margin: auto;
}
/* =======內文顯示區======== */
#content
{
	width: 1100px;
	height: 400px;
	float: left;
	color: #FFF;
	background-color: white;
}
/* =======版權宣告區======== */
#footer
{
	height: 120px;
	background-color: white;
	padding: 1px 1px;
	margin-top: 10px;
	margin-left: 5px;
	float: left ;
	clear: both;
position: relative ;
}

.left-sidebar-submit-group input
{
	font-weight: bolder;
	width: 140px;
	height: 60px;
	line-height: 15px;
	-webkit-border-radius: 5; /*圓突狀*/
	-moz-border-radius: 5;
	vertical-align: baseline;
	display: inline-block;
	border-radius: 5px;
	border: solid #D0D0D0 1px;
	background-color: white;
}
/* Page01-Page07 */
/* 預設按鈕的樣式 */
.DefaultButtonStyle
{
	font-weight: bolder;
	line-height: 15px;
	-webkit-border-radius: 5; /*圓突狀*/
	-moz-border-radius: 5;
	vertical-align: baseline;
	display: inline-block;
	border-radius: 5px;
	border: solid #D0D0D0 1px;
	background-color: white;
}
/* Page02-Page07 */
/* 送出按鈕的樣式 */
.submit-group input
{
	width: 595px;
	height: 80px;
}
/* Page01 */
/* 送出按鈕的樣式 */
.sub-submit-group input
{
	border-radius: 10px;
	width: 530px;
	height: 80px;
	margin: 5px;
	float: left;
}
#feedControl
{
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}

